img {
    max-width: 100%;
    height: auto;
}

.topper {
    background: url('img/1/1_0000s_0002s_0000s_0004_47805393.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /*position: relative;*/
    top: 0px;
    align-items: center;
    width:100%;
    overflow: visible;
    margin: -10px 0px 0px 0px;
}

.topper-column-left {
    padding: 200px 0 200px 0px;
    margin: auto;
    flex: 1;
    align-items: center;


}

.topper-column-right {
    color: white;
    background: url('img/1/1_0000s_0002s_0000s_0001_Layer-40.png');
    background-repeat: no-repeat;
    z-index: 10;
    background-size: 100%;
    background-position: 50% calc(50% );
    padding: 100px 0 400px 0;
    margin-top: -150px;
    margin-bottom: -150px;
    flex: 1;
    overflow-x: visible;
}


.row2 {
    background: url('img/2/Layer52.png');
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    align-items: center;
    margin-top:-15%;
    background-size: cover;
    overflow-y: visible;

}
.column2 {
    margin: 0 auto;
}
.row3 {
    background: url('img/3/ic2409Assignment4b.png');
    background-repeat: no-repeat;
	background-position: left; 
    display: flex;
    position: relative;
    align-items: center;
    background-size: contain;
    padding-bottom: 8%;


}
.column3 {
    margin: 0 auto;
}

.row4 {
    background: #EBEBEB;
    display: flex;
    justify-content: center;
}

.column5{
    padding: 50px 100px 50px 100px ;
}

.row5 {
    background: url('img/5/5_0000s_0000s_0001_Star.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    display: flex;

}

.column6{
    background: url('img/6/6_0001_6.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.row6 {
    background: url('img/6/6_0001_6.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    display: flex;

}

.row7-1 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin:0 auto;
    flex-flow: column nowrap;
}

.row7-2 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin:0 auto;
    padding-bottom: 100px;

}


.row8 {
    padding: 50px 0 50px 0;
    display: flex;
    position: relative;
    align-items: center;
    margin:0 auto;
    flex-flow: column wrap;
}

.column8 {
    margin: auto;
    flex-flow: column nowrap;
}

.row9 {
    padding: 0px 0 10px 0;
    display: flex;
    margin:0 auto;
    align-items: stretch;
}



.row {
    display: flex;
    position: relative;
    align-items: center;
    margin:0 auto;
}

.row1 {
    display: flex;
    position: relative;
    align-items: center;
    margin:0 auto;
    flex-flow: column wrap;
}

.column1 {
    margin: auto;
}

.cell img {

}



  .grid {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  .cell {
    margin: 1rem;
    width: calc(33.3333% - 2rem);
  }
  .quartercell {
    width: calc(25% - 2rem);
  }
  .thirdcell {
  	flex: 1;
  }

  input[type=text] {
    border: none;
    background-color: #fd7752;
    box-shadow: 10px 5px 5px gray;
    height:150%;
    width:60%;

}

::placeholder { 
    color: white;
    opacity: 1;
}


*{
	text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
